src/main/app/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <sfdc:config name="Salesforce__Basic_Authentication" username="balaji.yanamadala@gmail.com" password="Ramana@123" securityToken="jfb99KL1tzoOoIJs1xTS7rzv" doc:name="Salesforce: Basic Authentication"/>
    <flow name="salesforceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/SalesForce" allowedMethods="Get" doc:name="HTTP"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT AccountNumber,BillingCity,BillingCountry,BillingPostalCode,BillingState,BillingStreet,Name FROM Account" doc:name="Salesforce"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="c4790716-2b94-405a-873f-8f9550c44df5">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Name: payload.Name,
	BillingStreet: payload.BillingStreet,
	BillingCity: payload.BillingCity,
	BillingState: payload.BillingState,
	BillingPostalCode: payload.BillingPostalCode,
	BillingCountry: payload.BillingCountry,
	AccountNumber: payload.AccountNumber
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
